 <body>
    <header>
        <h1>PostUp Cards</h1>
        <nav>
            <button id="Login">Login</button>
            <button id="Signup">Signup</button>
        </nav>
    </header>

    <div id="deck-controls-prev">
        <button>Prev</button>
    </div>

    <div id="deck-controls-next">
        <button>Next</button>
    </div>

    <div id="deck">
        <a target="_blank" href="assets/Profile_Pic.png">
            <img src="public/Profile_Pic.png" width="200" height="200">
        </a>
    </div>

    <footer>
        <p id="giphy">Powered by Giphy</p>
        <p id="credits">Team Awesome Team</p>
    </footer>
</body>