<body>
<<<<<<< HEAD
    
=======
    <header>
        ><h1>PostUp Cards</h1>
            <nav>
                <button id="login">Login</button>
                <button id="signup">Signup</button>
            </nav>
    </header>
>>>>>>> d6b1527f2a8f4d748960b54f58ca83e100244aa2

    <div class="container">
        <h2>Log In</h2>
        <form class="center">
            Username: <input type='text' id='uname'><br>
            Password: <input type='password' id='pword'><br>
        </form>
        <div class="center">
            <button id="Login">Log In</button>
        </div>
    </div>
    
    <footer>
        <p id="giphy">Powered by Giphy</p>
        <p id="credits">Team Awesome Team</p>
    </footer>
</body>

<script>
    $("#Enter").on("click", function() {
        console.log("working");
        location.replace("http://localhost:8000/create");
    });

    $("#login").on("click", function() {
        console.log("working")
        location.replace("http://localhost:8000/login");
    });

    $("#signup").on("click", function() {
        console.log("working");
        location.replace("http://localhost:8000/signup");
    });
</script>