<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/style.css">
        
        <title>Basketball card!</title>
        
        <script src="https://code.jquery.com/jquery.js"></script>
    </head>
<style>
    body {
  background-image: url("assets/basketball-net.jpg");
  font-family: sans-serif;
}

header {
  background-color: rgb(46, 46, 46);
  position: absolute;
  top: 0;
  width: 100%;
}

h1 {
  color: white;
  text-align: left;
  display: inline-block;
  margin: 5px 10px 5px 20px;
}

h2 {
  color: white;
  text-align: center;
  padding: 10px;
}

nav {
  float: right;
  margin: 10px 20px;
}

nav a {
  background-color: rgb(33, 48, 102);
  color: white;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
  background-color: rgb(73, 100, 196);
}

footer {
  background-color: rgb(46, 46, 46);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  width: 50%;
  height: 200px;
  margin: 100px auto;
  color: white;
  background-color: rgb(33, 48, 102);
}

.container p {
  padding: 10px;
}

.center {
  text-align: center;
}

#card {
  margin: 50px;
  float: right;
  width: 40%;
  background-color: rgb(33, 48, 102);
}

#card-controls {
  margin: 0 auto;
  text-align: center;
}

.controls button {
  width: 100px;
  height: 50px;
  font-size: 15pt;
  margin: 25px 10px;
  color: white;
  background-color: rgb(33, 48, 102);
  border: none;
}

.controls button:hover {
  cursor: pointer;
  background-color: rgb(73, 100, 196);
}

#generate {
  margin: 50px;
  float: right;
  width: 40%;
  text-align: center;
}
#search {
  margin: 50px;
  float: right;
  width: 40%;
  background-color: rgb(33, 48, 102);
 
}

#deck {
  margin: 50px auto;
  width: 60%;
  text-align: center;
}

#deck img {
  width: 30%;
  height: auto;
}

#deck img:hover {
  border: 1px solid rgb(46, 46, 46);
}

#deck-controls-prev {
  width: 200px;
  height: 100px;
  float: left;
  text-align: center;
}

#deck-controls-next {
  width: 200px;
  height: 100px;
  float: right;
  text-align: center;
}

#deck-controls-prev button {
  width: 200px;
  height: 100px;
  font-size: 25pt;
  margin: 50px 5px;
  color: white;
  background-color: rgb(33, 48, 102);
  border: none;
}

#deck-controls-next button {
  width: 200px;
  height: 100px;
  font-size: 25pt;
  margin: 50px 5px;
  color: white;
  background-color: rgb(33, 48, 102);
  border: none;
}

#deck-controls-prev button:hover {
  cursor: pointer;
  background-color: rgb(73, 100, 196);
}

#deck-controls-next button:hover {
  cursor: pointer;
  background-color: rgb(73, 100, 196);
}

#player-pic {
  width: 50%;
  height: 50%;
  display: block;
  margin: 25px auto;
  border: solid 2px white;
}

ul {
  color: white;
  list-style-type: none;
}

#giphy {
  color: white;
  text-align: left;
  display: inline-block;
  margin: 5px 10px 5px 20px;
}
#card-landscape {
  margin: 50px;
  float: right;
  width: 600px;
  height: 400px;
  background-color: rgb(33, 48, 102);
}
#credits {
  color: white;
  margin: 5px 10px 5px 20px;
  float: right;
  margin: 10px 20px;
}</style>
    <body>
        
        {{{body}}}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>