<body>
    
    
    <div class="container">
        <h2>Sign Up</h2>
        <form class="center">
            Username: <input type='text' id='uname'><br>
            Password: <input type='password' id='pword'><br>
        </form>
        <div class="center">
            <button class="submit">Sign Up</button>
        </div>
    </div>
    
    <footer>
        <p id="giphy">Powered by Giphy</p>
        <p id="credits">Team Awesome Team</p>
    </footer>
</body>

<script>
    $("#Enter").on("click", function() {
        console.log("working");
        location.replace("/create");
    });

    $("#login").on("click", function() {
        console.log("working")
        location.replace("/login");
    });

    $("#signup").on("click", function() {
        console.log("working");
        location.replace("/signup");
    });
</script>