<body>

    {{> cards/header}}

    <div class="container">
        <h2>Log In</h2>
        <form class="center">
            Username: <input type='text' id='uname'><br>
            Password: <input type='password' id='pword'><br>
        </form>
        <div class="center">
            <button id="login">Log In</button>
        </div>
    </div>

    {{> cards/footer}}

</body>