<body>

    {{> cards/header}}

    <div class="container">
        <h2>Log In</h2>

        <form action="/signinpage" class="center">
            Username: <input type='text' id='uname'><br>
            Password: <input type='password' id='pword'><br>

            <div class="center">
                <button id="signin" type="submit" value="Log In" >Log In</button>
            </div>
        </form>
    </div>

    {{> cards/footer}}

</body>