<body> 

    {{> cards/header}}

    <div class="container">
        <h2>Sign Up</h2>
        <form class="center">
            Username: <input type='text' id='uname' attribute="current-password"><br>
            Password: <input type='password' id='pword' attribute="current-username"><br>
        </form>
        <div class="center">
            <button id="signup">Sign Up</button>
        </div>
    </div>

    {{> cards/footer}}

</body>