<body>

    <div class="container">
        <h2>Log In</h2>
        <form class="center">
            Username: <input type='text' id='uname'><br>
            Password: <input type='password' id='pword'><br>
        </form>
        <div class="center">
            <button id="Login">Log In</button>
        </div>
    </div>
    
    <footer>
        <p id="giphy">Powered by Giphy</p>
        <p id="credits">Team Awesome Team</p>
    </footer>
</body>

<script>

</script>