<body>
    {{> cards/header }}

    <div class="container welcome">
        <div class="row">
            <div class="col-md center">
                <p>Welcome to PostUp Cards, the virtual basketball card maker where you get to choose which players you
                    have in your collection!
                    The players' images are animated GIFs and their stats can be updated whenever you like!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <button class="button expanded primary" id="create-button">Create Card</button>
            </div>
        </div>
    </div>

    {{> cards/footer}}

</body>

<script>

</script>