<body>
    {{> cards/header }}

    <div class="container welcome">
        <div class="row">
            <div class="col-md center">
                <p>Welcome to PostUp Cards, the virtual basketball card maker where you get to choose which players you
                    have in your collection!
                    The players' images are animated GIFs and their stats can be updated whenever you like!
                    
                </p>
                <p>Sign up and login to start your collection now!</p>
            </div>
        </div>
    </div>

    {{> cards/footer}}

</body>

<script>

</script>