<body>
    <div class="container">
        <div class="center">
            <p>Welcome, one and all to PostUp Cards! The latest cryptocurrency craze. Tired of paying for your stuff
                with
                things like MONEY and EFFORT?
                Well no longer! Generate some digital trading cards and trade them for real goods and services. Then let
                us
                know how you did it. We're stumped.
            </p>
        </div>
        <div class="center"><button id="create-button">Create Card</button></div>
    </div>
    <footer>
        <p id="giphy">Powered by Giphy</p>
        <p id="credits">Team Awesome Team</p>
    </footer>
</body>
<script>
    $("#login").on("click", function () {
        console.log("working")
        location.replace("/login");
    });
    $("#create-button").on("click", function () {
        console.log("working")
        location.replace("/create");
    });
    $("#signup").on("click", function () {
        console.log("working");
        location.replace("/signup");
    });
</script>