<body>
    <style>
        #card {
            float: right;
        }
    </style>
    
    <header>
        <h1>PostUp Cards</h1>
        <nav>
            <button id="login">Login</button>
            <button id="signup">Signup</button>
        </nav>
    </header>
    <div id="search">
        <button id ="submit">Submit</button>
        <textarea id="SearchPlayer" value = "SearchPlayer" placeholder="Search Player"></textarea>
    
        <div id="card"></div>
    </div>

    <div class="controls" id="generate">
        <ul>
            <li><button id="new-card">clear</button></li>
            <li><button id="save-card">Save</button></li>
            <li><button id="VDeck">Deck</button></li>
        </ul>
    </div>
        
    <footer>
        <p id="giphy">Powered by Giphy</p>
        <p id="credits">Team Awesome Team</p>
    </footer>
</body>

<script src="/assets/js/playerInfo.js"></script>
<script>
    $("#VDeck").on("click", function() {
        console.log("working")
        location.replace("http://localhost:8000/deck");
    });
   $("#submit").on("click", function() {
        console.log("working")
        playerInformation();
          $("#SearchPlayer").val('');
    });
     $("#new-card").on("click", function() {
        console.log("working")
        $("#card").empty();

    });
  </script>
