
<div></div>
<h2 class='eat' ></h2>
<button id='clear' ></button>
<div id="middle" >
</div>
<div id='a' ></div>
<p class='eat' ></p>

<script>
  setTimeout(()=>{
    document.getElementById('clear').addEventListener('click',clearList);
  },10)
  var clearList = async function (e){
    e.preventDefault();
    document.getElementById('clear').removeEventListener('click',clearList)
    await axios({
      url: '/api/clearlist',
      method:'delete'
    }).then(res=>{
        location.reload()
      }).catch(err=>console.log(err))
  };
</script>