<body>

    {{> cards/nheader }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-2-md" id="search">
                <div class="controls" id="generate">
                    <textarea id="SearchPlayer" value="SearchPlayer" placeholder="Search Player"></textarea>
                    <ul>
                        <li><button class="button expanded primary" id="submit">Search</button></li>
                        <li><button class="hollow button expanded primary" id="clear">Clear</button></li>
                        <li><button class="button expanded primary" id="save-card">Save Card</button></li>
                        {{!-- <li><button class="button expanded primary" id="back">Card Back</button></li> --}}
                    </ul>
                    <hr>
                    
                    <h5>Deck View</h5>

                    <div class="deckview">
                        <ul class="list decklist ">
                            {{#each carddeck}}
                            {{> cards/carddeck-block}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-8-md">
                {{> cards/card-block}}
            </div>

            <div class="col-8-md">
                {{> cards/back-block}}
            </div>

        </div>
    </div>

    {{> cards/footer}}

</body>