body {
    background-image: url("397682.jpg");
  }
  #mainSection {
    border-radius: 25px;
    background: rgb(42, 149, 176);
    padding: 20px;
    width: 400px;
    height: 350px;
    opacity: 50%;
    outline-color: blue;
    outline-width: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/*submit button*/
  #submit {
    display: inline-block;
    border-radius: 4px;
    background-color: #152ca9;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  #submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #submit:hover span {
    padding-right: 25px;
  }
  
  #submit:hover span:after {
    opacity: 1;
    right: 0;}