{{!-- create a back of the card --}}

<div class="cardmain" id="cardback">
    <div class="card-divider" id="playerID"></div>
    {{!-- <div class="PlyrName" id="playerName"></div> --}}
    <div class="row">
        <div class="col-md">
            <div class="stats">
                <table class="plyrStats">
                    <tr>
                        <th>YR</th>
                        <th>TEAM</th>
                        <th>GP</th>
                        <th>FG%</th>
                        <th>FT%</th>
                        <th>REB</th>
                        <th>AST</th>
                        <th>STL</th>
                        <th>BLK</th>
                        <th>PTS</th>
                        <th>AVG</th>                        
                    </tr>
                    <tr>
                        <td id="currStats"></td>
                        <td id="currTeam"></td>
                        <td id="currGP"></td>
                        <td id="currFGPer"></td>
                        <td id="currFTPer"></td>
                        <td id="currReb"></td>
                        <td id="currAst"></td>
                        <td id="currStl"></td>
                        <td id="currBlk"></td>
                        <td id="currPts"></td>
                        <td id="currAvg"></td>
                    </tr>
                </table>   
                <table id="seasonAvg"> 
                    <tr>
                        <th>YR</th>
                        {{!-- <th>TEAM</th> --}}
                        <th>GP</th>
                        <th>FG%</th>
                        <th>FT%</th>
                        <th>REB AVG</th>
                        <th>AST AVG</th>
                        <th>STL AVG</th>
                        <th>BLK AVG</th>
                        <th>PTS AVG</th>
                        {{!-- <th></th> --}}
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>