{{!-- create a back of the card --}}

<div class="back" id="cardMain">
    <div class="card-divider" id="playerID"></div>
    <div class="GIFDisplay" id="gif"></div>
    <div class="PlyrName" id="playerName"></div>
    <div class="TeamLogo"></div>
    <div class="row">
        <div class="col-md">
            <div class="stats">
                <p>
                    <span>Player's Height: <span id="playerHeight">?</span> ft</span>
                    <span>Player's Weight: <span id="playerweight">?</span> lbs</span>
                    <span>Player's Team: <span id="playerteam">?</span></span>
                    <span>Player's City: <span id="playercity">?</span></span>
                </p>
            </div>
        </div>
    </div>
</div>