{{!-- create a back of the card --}}

<div class="cardmain" id="cardback">
    <div class="card-divider" id="playerID"></div>
    <div class="PlyrName" id="playerName"></div>
    <div class="row">
        <div class="col-md">
            <div class="stats">
                <table class="plyrStats">
                    <tr>
                        <th>YR</th>
                        <th>TEAM</th>
                        <th>GP</th>
                                                
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>