<div class="card" id="cardMain">
    <div class="card-divider" id="playerID"></div>
    <div class="GIFDisplay" id="gif"></div>
    <div class="PlyrName" id="playerName"></div>
    <div class="TeamLogo" id="teamLogo"></div>
    <div class="row">
        <div class="col-md">
            <div class="stats">
                <p>
                    <span>Height: <span id="playerHeight">?</span> ft</span>
                    <span>Weight: <span id="playerweight">?</span> lbs</span>
                    <span>Position: <span id="playerPos">?</span></span>
                    <span>Team: <span id="playerteam">?</span></span>
                    <span>City: <span id="playercity">?</span></span>
                </p>
            </div>
        </div>
    </div>
</div>