<div class="cardmain" id="cardfront">
    <div class="card-divider" id="playerID"></div>
    <div class="GIFDisplay" id="gif"></div>

    <div class="PlyrName">
        <h5 id="playerName"></h5>
        <span id="teamLogo"></span>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="bio">
                <p class="statline">
                    <span>Height: <span id="playerHeight"></span> ft</span>
                    <span>Weight: <span id="playerweight"></span> lbs</span>
                    <span>Position: <span id="playerPos"></span></span>
                </p>
                <p class="statline">
                    <span>Team: <span id="playerteam"></span></span>
                    <span>City: <span id="playercity"></span></span>
                </p>
            </div>
        </div>
    </div>
</div>