    <header>
        <a href="/">
            <img src="/assets/images/PostUpCards-01.png" width="80" height="70" alt="logo" id="logo"></a>
        {{!-- nav removed until login and signup functional --}}
        <nav>           
            <button id="loginpage">Login</button>
            <button id="signuppage">Signup</button>
        </nav>
    </header>